body {
  font-family: 'DotGothic16', sans-serif;
}

.btn {
  padding: 14px 18px;
  border: 2px;
  border-radius: 0px;
}

.userdata {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.field {
  margin-bottom: 10px;
}

.products-field {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-image: url("ufoc00.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
}

.product-image {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
}

.product {
  border: 2px solid black;
  margin: 0 5px;
  border-radius: 5px;
  margin: 10px 10px;
  height: 35vh;
}

.product-show {
  border: 2px solid black;
  margin: 0 5px;
  border-radius: 5px;
  margin: 10px 10px;
  height: 35vh;
}

.form {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.submit {
  margin-top: 10px;
}

.product-name {
  padding-left: 20px;
}

.product-detail {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-image: url("ufoc01.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
}

.user-posts {
  margin-top: 10px;
}

.user-post {
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.left-content {
  margin-right: 20px;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-image: url("ufoc02.jpg");
  background-color: rgba(255,255,255,0.9);
  background-blend-mode: lighten;
}

.register {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  height: 35vh;
}